header{
    text-align: center;
}

main{
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-family: sans-serif
}

#searchBar{
    padding: 8px;
    border-radius: 3px;
    border: 2px solid grey;
}

#searchButton{
    background-color: #453bf3;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 6px;
    color:white;
}

.card-container{
    display: none;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
    gap: 10px;
    border: 3px solid #453bf3;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
}

.weather-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; 
    margin: 0px 20px;
}

.weather-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: white;
    gap: 10px;
    padding: 0px 20px;
}

.red-border{
    border: 5px solid #f95e5e;
}
.red-background{
    background-color: #f95e5e;
}
.blue-border{
    border: 5px solid #4979f5;
}
.blue-background{
    background-color: #4979f5;
}
.yellow-border{
    border: 5px solid #e0e05b;
}
.yellow-background{
    background-color: #e0e05b;
}
.green-border{
    border: 5px solid #90e466;
}
.green-background{
    background-color: #90e466;
}

.title{
    text-align: center;
    width: 100%;
    padding: 0px 20px;
}

